<% if current_user.nil? %>
    <h1>Services</h1>
    <p>When you sign up, the content you receive is based on the membership you obtain. We provide:</p>
    <ul>
        <li>Job managing utilities..</li>
        <li>Expert material information and pricing..</li>
        <li>A unique custom interface for working with you project..</li>
        <li>And custom quote engine!</li>
    </ul>
    <%#= render :partial => "shared/sign_up" %>
<% else %>
    <h1>Services</h1>
    <div id="CurrentJobs">
        <h2>Jobs</h2>
        <ol>
            <% @jobs.each do |job| %>
                <li>
                    <%= link_to "#{job.job_name}", {:controller => "jobs", :action => "show", :id => job.id} %>
                </li>
            <% end %>
        </ol>
        <%= link_to "New Job", {:controller => "jobs", :action => "new"}, :remote => true %>
    </div>
    
    <div id="AddNewJob"></div>

    <div id="RecentJob">
        <h2>Most Recent Job</h2>
        <p><strong>Job Name:</strong> <%= @current_job.job_name %></p>
        <p><strong>Description:</strong> <%= @current_job.description %></p>
        <p><strong>Quote:</strong> <%= @current_job.quote %></p>
        <p><strong>Running Total:</strong> <%= @current_job.running_total %></p>
    </div>
<% end %>
