<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>Country:</b>
  <%= @profile.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @profile.postal_code %>
</p>

<p>
  <b>Profile pic:</b>
  <%= @profile.profile_pic %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
