<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @phone.profile_id %>
</p>

<p>
  <b>Phone number:</b>
  <%= @phone.phone_number %>
</p>

<p>
  <b>Phone type:</b>
  <%= @phone.phone_type %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
