<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Task name</th>
    <th>Task description</th>
    <th>Task completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.job_id %></td>
    <td><%= task.task_name %></td>
    <td><%= task.task_description %></td>
    <td><%= task.task_completed %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
