<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
    	<meta charset="utf-8" />
    	<title>Renovation Solutions</title>
        <%= stylesheet_link_tag  "application" %>
        <%= stylesheet_link_tag  "layout" %>
        <script src="http://code.jquery.com/jquery-1.6.2.js"></script>       
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <%= javascript_include_tag  "jqueryLayout" %>
    </head>
    <body>
        <div id="wrap">
                <div id="toplinks">
                        <%= render :partial => "shared/nav" %>
                </div>
                <div id="login" class="floatright" style="margin-right:0;padding:0;"/>
                    <%= render :partial => 'shared/login' if session[:user_id].nil? %>
                    <%= "Welcome " + current_user.first_name + " " + current_user.last_name unless session[:user_id].nil? || current_user.first_name.nil? %>
                    <%= "Welcome To the site " + current_user.email + "!" if !session[:user_id].nil? && current_user.first_name.nil? %>
                </div>
            <div class="clear"></div>
            <div id="banner">
                <div id ="title" class="floatleft">
                    <h1>Renovation Solutions</h1>
                </div>
            </div>
            <div id="messages">
                <%= render :partial => "shared/flash_messages" %>
            </div>
            <div id="content">
                <%= yield %>
            </div>
            <div id="footer">
                <div id="flinks">
                        <%= render :partial => "shared/nav" %>
                </div>
                &copy 2011 Renovation Solutions
            </div>
        </div>
    </body>
</html>