<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
    	<meta charset="utf-8" />
    	<title>Renovation Solutions</title>
        <%= stylesheet_link_tag  "application" %>
        <%#= javascript_include_tag  "application" %>
    </head>
    <body>
        <div id="wrap">
            
                <div id="toplinks">
                        <a href="#">Home</a>
                        <a href="#">About</a>
                        <a href="#">Services</a>
                        <% unless session[:user_id].nil? %>
                            <a href="#">Profile</a>
                        <% end %>
                        <a href="#">Contact</a>
                        <%= link_to "Logout", :action => "logout" unless session[:user_id].nil? %>
                </div>
                <div id="login" class="floatright" style="margin-right:0;padding:0;"/>
                    <%= render :partial => 'shared/login' if session[:user_id].nil? %>
                    <%= "Welcome " + current_user.first_name + " " + current_user.last_name unless session[:user_id].nil? || current_user.first_name.nil? %>
                    <%= "Welcome To the site! Get started!" if !session[:user_id].nil? && current_user.first_name.nil? %>
                </div>
            <div class="clear"></div>
            <div id="banner">
                <div id ="title" class="floatleft">
                    <h1>Renovation Solutions</h1>
                </div>
            </div>
            <div id="content">
                <%= yield %>
            </div>
            <div id="footer">
                <div id="flinks">
                        <a href="#">Home</a>
                        <a href="#">About</a>
                        <a href="#">Services</a>
                        <% unless session[:user_id].nil? %>
                            <a href="#">Profile</a>
                        <% end %>
                        <a href="#">Contact</a>
                        <%= link_to "Logout", :action => "logout" unless session[:user_id].nil? %>
                </div>
                &copy 2011 Renovation Solutions
            </div>
        </div>
    </body>
</html>